@import "partials/variables";
@import "partials/mixins";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack-reg;
  color: $color2;
}

@include desktop {
  .desktop__container {
    display: flex;
    padding: 0 12.5%;
  }

  .desktop__subcontainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
  }
}
