@import "partials/variables";
@import "partials/mixins";

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 186px;
  padding: 16px;
  border-bottom: 2px solid $color3;
  font-size: $mobiletext2;

  &__img {
    width: 55px;
    height: 55px;
    align-self: flex-start;
    margin-top: 20px;
    border-radius: 50%;
    background: $color3;
  }

  &__description {
    width: 80%;
  }

  &__name-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    .comment__name {
      margin: 0;
      font-family: $font-stack-demi;
    }

    .comment__date {
      margin: 0;
      color: $color4;
    }
  }

  &__text {
    margin: 0;
    padding-top: 10px;
  }
}

@include tablet {
  .comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 186px;
    padding: 16px;
    border-bottom: 2px solid $color3;
    font-size: $mobiletext2;

    &__img {
      width: 55px;
      height: 55px;
      align-self: flex-start;
      margin-top: 20px;
      border-radius: 50%;
      background: $color3;
    }

    &__description {
      width: 80%;
    }

    &__name-date {
      display: flex;
      align-items: center;
      height: 30px;

      .comment__name {
        margin: 0;
        font-family: $font-stack-demi;
      }

      .comment__date {
        margin: 0;
        color: $color4;
      }
    }

    &__text {
      margin: 0;
      padding-top: 10px;
    }
  }
}
