@import "partials/variables";
@import "partials/mixins";

.commentForm {
  border-bottom: 2px solid $color3;
  padding-bottom: 24px;

  &__count {
    font-family: $font-stack-demi;
    font-size: 22px;
    margin: 0;
  }

  &__heading {
    color: $color4;
    margin: 32px 0 0 20%;
  }

  &__subContainer {
    display: flex;
    justify-content: space-between;

    .commentForm__img {
      width: 60px;
      height: 60px;
      background: $color3;
      border-radius: 50%;
      background: url("../assets/Images/mohan-muruge.jpg");
      background-position: left;
      background-size: cover;
    }

    .commentForm__text {
      width: 70%;
      height: 100px;
      padding: 16px;
      margin: 8px 0 16px 0;
      border: 3px solid $color1;
      border-radius: 4px;
      outline: none;
      background: $color5;
      font-family: $font-stack-reg;
      font-size: $mobiletext2;
    }
  }

  .commentForm__btn {
    width: 80%;
    height: 60px;
    background: $color1;
    border-radius: 4px;
    border: none;
    outline: none;
    color: white;
    font-family: $font-stack-demi;
    font-size: 20px;
    margin-left: 20%;
  }
}
