@import "partials/variables";
@import "partials/mixins";

.highlights {
  color: $color2;
  &__heading {
    font-family: $font-stack-bold;
    margin: 32px 0 16px 0;
  }

  &__subtext {
    display: flex;
    align-items: center;
  }

  &__by {
    font-family: $font-stack-demi;
    font-size: 20px;
    margin: 0;
  }

  &__timestamp {
    font-size: 18px;
    color: #afafaf;
    margin: 0 0 0 8px;
  }

  &__views-likes {
    display: flex;
    border-bottom: 2px solid $color3;
    margin-top: 32px;
    padding-bottom: 24px;
    font-size: $mobiletext2;
  }

  &__views {
    margin: 0;
  }

  &__likes {
    margin: 0 0 0 16px;
  }

  &__paragraph {
    line-height: 24px;
    margin: 24px 0 40px 0;
  }
}
